.body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.main {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 50px;
    padding: 0 50px;
    align-items: center;
    font-family: "Roboto", serif;
    font-weight: 300;
}

.intro {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.intro img {
    width: 100%;
    max-width: 450px;
    height: auto;
    max-height: 500px;
    margin-left: 40px;
    margin-right: 50px;
}

.about-me {
    color: var(--main-green);
    gap: 50px;
}

.intro-message {
    color: var(--main-green);
}

.intro-message .welcome {
    background-color: var(--light-pink);
    max-width: fit-content;
}

.intro-message h3 {
    font-weight: 500;
}

.intro-message h5 {
    flex-basis: 100%;
    font-size: 16px;
    font-weight: 500;
}

.toolkit {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: -10px;
    gap: 0.8rem;
    row-gap: 0.02rem;
}

.toolkit p {
    padding: 6px 12px;
    color: var(--main-green);
    border-radius: 20px;
    border: 1px solid var(--main-green);
    font-size: 14px;
    white-space: nowrap;
    display: inline-block; 
    max-width: fit-content;
    width: auto;
}
.more-info {
    display: flex;
    flex-direction: row;
    color: var(--main-green);
    gap: 200px;
    align-items: flex-start;
    margin-top: 50px;
    margin-left: 100px;
    position: relative;
}

.more-info::before {
    content: ''; 
    position: absolute;
    right: -10rem;
    bottom: -5rem;
    align-self: flex-end;
    background-image: url('/resources/images/about/bloom.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 450px;
    width: 450px;
    opacity: 0.6;
    z-index: -3;
}

.category {
    display: flex;
    flex-direction: column;
    max-width: 40%;

}

.title {
    font-weight: 400;
    margin-bottom: -3px;
}

.topic h5 {
    color: var(--main-pink);
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 15px;
}

footer {
    margin-bottom: 200px;
}

@media (max-width: 768px) {
    .intro {
        flex-direction: column;
    }

    .toolkit p {
        max-width: calc(100% / 3 - 10px);
        width: auto;
    }
}

@media (max-width: 480px) {
    .toolkit p {
        max-width: calc(100% / 2 - 10px);
        width: auto;
    }
}