.title {
    margin-top: 140px;
    text-align: center;
    font-family: "Roboto", serif;
    color: var(--main-green);
    font-weight: 200;
    font-size: 18px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 740px;
    height: 479px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    border: 13px solid #F4EEED;
    border-radius: 8px;
    background-color: #FFF;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 50px;
}
input, textarea {
    border: 2px solid rgb(244, 238, 237,0.8);
    width: 396px;
    margin: 10px auto;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: rgb(183, 188, 191, 0.8);
}

input:focus, textarea:focus {
    outline: none;
}

.form-input {
    height: 40px;
    padding-left: 1rem;
}
.form-input-question {
    height: 152px;
    padding-left: 1rem;
    padding-top: 1rem;
}
input[type="submit"] {
    width: 140px;
    height: 64px;
    border: 1px solid #A5A68F;
    border-radius: 8px;
    color: #A5A68F;
    cursor: pointer;
    margin: 10px auto;
    display: block;
    border: none;
    font-family: 'Roboto Medium', sans-serif;
}
input[type="submit"]:hover {
    background-color: #A5A68F;
    color: #FAF4E3;
}
::placeholder {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: rgb(183, 188, 191, 0.8);

}