:root {
    --main-pink: #d9b2a9;
    --main-green: #a5a68f;
    --main-yellow: #faf4e3;
    --secondary-pink: #f2dbd5;
    --secondary-gray: #b7bcbf;
    --light-pink: #f4eeed;
}

.body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.brand-message {
    color: var(--main-green);
    font-family: "Roboto", serif;
    font-size: 20px;
    font-weight: 300;
    width: 90%;
    max-width: 1200px;
    margin: 180px auto 0; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.hello, .self-description {
    margin: 0;
    padding: 10px;
}

.hello {
    color: var(--main-pink);
}

.main {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 1200px;
    margin: 20px auto 0; 
    padding: 0 20px;
    align-items: center;
}

.projects {
    margin-top: 60px;
    border: 1px solid var(--main-green);
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
    max-width: 1200px;
}

.project-container {
    display: flex;
    align-items: flex-end;
    gap: 30px;
    padding: 30px;
    flex-wrap: wrap; 
}

.project-container:nth-child(odd) {
    flex-direction: row;
}

.project-container:nth-child(even) {
    flex-direction: row-reverse;
}

.project-img img {
    height: 300px;
    max-width: 100%;
    object-fit: cover;
}

.project-description {
    font-family: "Roboto", serif;
    color: var(--main-green);
}

.project-description h3 {
    font-size: 1.5rem; 
    font-weight: 500;
}

.project-description p {
    font-size: 1.2rem; 
}

.elearning .project-description {
    text-align: right;
}

.connect {
    height: auto;
    margin-top: 125px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.connect img {
    width: 40px;
    height: auto;
}

.connect h2 {
    font-family: "Roboto", serif;
    color: var(--main-green);
    font-size: 24px;
    font-weight: 500;
}


@media (max-width: 956px) and (min-width: 768px) {
    .brand-message {
        flex-direction: column;
        text-align: center;
        margin: 100px auto 0; 
        padding: 0 20px; 
        width: 90%; 
        margin: 150px auto 0; 
        padding: 0 20px; 
        font-size: 1.2rem;
        align-items: center;
    }
    
    .main {
        margin-top: 10px;
    }

    .projects {
        gap: 5;
    }

    .project-container {
        flex-direction: column !important;
        align-items: center;
        text-align: center;
    }

    .project-img img {
        width: 100%;
        height: auto;
    }

    .project-description h3 {
        font-size: 1.3rem;
    }

    .project-description p {
        font-size: 1rem;
    }

    .elearning .project-description {
        text-align: center;
    }

    .connect {
        margin-top: 50px;
        margin-bottom: 30px;
        text-align: center;
    }
}
