:root {
    --dogwood-pink: #d9b2a9;
    --main-green: #a5a68f;
    --main-yellow: #faf4e3;
    --rose-pink: #f2dbd5;
    --secondary-gray: #b7bcbf;
    --light-pink: #f4eeed;
}

.body {
    font-family:Arial, Helvetica, sans-serif
}


.header {
    position: fixed;
    top: 10;
    left: 0;
    right: 20;
    height: 69px;
    width: 100%;
    z-index: 5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 69px;
}

.logo {
    padding-left: 10px;
    align-items: center;
    img {
        height: 120px;
        width: auto;
    };
    display: flex;
}

.brand {
    color: var(--main-green);
    font-family: "Poiret One", serif;
}

.nav {
    top: 10px;
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-around;
    width: max-content;
}

.nav li {
    display: inline;
    margin: auto 0.5rem;
    font-family: "DynaPuff", serif;
}

.nav a {
    color: var(--main-green);
    text-decoration: none;
}

.nav a:hover{
    color: var(--dogwood-pink);
}

.brand-message {
    color: var(--main-green);
}